@keyframes popup {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
    margin-top: .35rem;
}

.lcs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.btn {
    min-width: 27px;
    cursor: pointer;
}

.btn:hover {
    color: gray;
}

.fa-heart {
    animation-name: none;
    animation-duration: .25s;
    animation-timing-function: ease-in-out;
}

.carousel .thumbs-wrapper {
    margin: 0;
    margin-bottom: 0;
    margin-top: 0;
}