.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15rem;
}

.lcs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.btn {
    min-width: 27px;
    cursor: pointer;
}

.btn:hover {
    color: gray;
}

.fa-heart {
    animation: Beat infinite ease-in;
}