.conta {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-weight: 100;
}

.pfp {
    border-radius: 100%;
}

.tempo-do-post {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.tempo-do-post::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: gray;
    transform: translateX(-20px);
    border-radius: 100%;
}