.conta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conta {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 100;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pfp {
    border-radius: 100%;
    cursor: pointer;
}

.nome-da-conta:hover {
    color: gray;
    cursor: pointer;
}

.tempo-do-post {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

/* .tempo-do-post::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: gray;
    transform: translateX(-450%);
    border-radius: 100%;
} */

.tres-pontinhos {
    width: 32px;
    height: 32px;
    padding-right: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tres-pontinhos:hover .ponto {
    color: gray;
    background: gray;
}

.conta .ponto {
    background: gray;
}

.ponto {
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 100%;
}

.tres-pontinhos .ponto::before, .ponto::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
}

.tres-pontinhos .ponto::before {
    transform: translateX(-200%);
}

.tres-pontinhos .ponto::after {
    transform: translateX(200%);
} 