main {
    padding: 3rem;
    width: 100vw;
    height: fit-content;
    font-size: .8rem;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(35, 35, 35);
}

.conteudo {
    border: 1.5px solid rgb(50, 50, 50);
    border-radius: .3rem;
    margin: 0;
    padding: 0;
    min-width: 400px;
    min-height: 400px;
    max-height: 550px;
}

.carousel .carousel-status {
    font-size: 1rem;
}