:root {
  --btn-border: rgb(25, 25, 25);
  --btn-border-hover: rgb(35, 35, 35);
  --btn-hover: rgb(10, 10, 10);
  --btn-active: rgb(35, 35, 35);
  --bg-color: black;
  --border-bottom: rgba(165, 165, 165, .25);
  --global-border: solid 2px var(--btn-border);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

h1 {
  color: rgb(230, 230, 230);
}

h2 {
  font-size: 1.5rem;
  color: rgb(200, 200, 200);
}

#number-count {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 6rem;
  padding: 1rem;
  aspect-ratio: 1;
  background: black;
  position: absolute;
  font-size: 3rem;
  border-radius: .5rem;
}

.section {
  border: 0;
  border-bottom: 1px solid var(--border-bottom);
}

.homeSquare {
  margin-top: 7rem;
}

.section-h1 {
  text-align: center;
  font-size: 2rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  width: 200px;
  aspect-ratio: 1;
}

button {
  background: transparent;
  text-decoration: none;
  border-style: none;
}

.div-section {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5rem;
  font-size: 1.5rem;
  height: 85vh;
}

.distro-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}