* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 1000;
    
}

.header-content {
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

.header-logo {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.header-logo-img {
    height: 3.5rem;
    background: #0062b9;
    border-radius: 2rem;
}

.header-nav > ul {
    display: flex;
    align-items: center;
    column-gap: 4.5rem;
}

.nav-items {
    color: #333;
}

main {
    height: 110vh;
    background: blue;
}